/* GERAL */

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-image: url("../img/background.svg");
  background-position: center;
  background-size: cover;
  padding-bottom: 1.5rem;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button i {
  color: #102f5e;
  font-weight: bold;
  pointer-events: none;
}

button:hover {
  background-color: #102f5e;
  color: #fdfdfd;
}

button:hover > i {
  color: #fdfdfd;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* COMPRAS HEADER */

.compras-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compras-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

/* COMPRAS FORM */

#compras-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#compras-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#compras-form {
  width: 100%;
}

#compras-input {
  width: 100%;
}

#compras-form p {
  text-align: center;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* COMPRAS TOOLBAR */

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #ddd;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* COMPRAS LIST */

#compras-list {
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.item h3 {
    flex:1;
    font-size: .9rem;
}

.item button {
    margin-left: .4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}